{% extends "base.html" %}
{% block content %}
<div class="card shadow-sm">
  <div class="card-body">
    <h2 class="mb-4">Cadastro de Convidado</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.nome.label(class="form-label") }}
            {{ form.nome(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
    </form>
  </div>
</div>
{% endblock %}
